<admin-nav></admin-nav>
<!-- <div class="search-box">
    <div style="width: 500px;">
        <form (ngSubmit)="onSubmit(eventname)">
            <div class="form-group">
                <h4>Search Event</h4>
                <input type="text" class="form-control" id="eventname" required [(ngModel)]="eventname" name="eventname"
                    placeholder="Event Name">
                <div>
                    <div class="btn-group">
                        <button type="submit" class="btn btn-success" (click)="onSubmit(eventname)">Submit</button>
                    </div>
                    <ul>
                        <li *ngFor="let event of event">
                            <h4> {{event.id}}</h4><br>
                            <h4>{{event.eventname}} </h4>
                            <h4>{{event.venue}} </h4>
                            <h4>{{event.date}}</h4>
                        </li>
                    </ul>

                </div>

            </div>
        </form>
    </div>

</div> -->

<data-table2></data-table2>